@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<h2>Admin index view</h2>
<h3>Add new restaurant</h3>
<form method="post">
    <input type="text" id="Name" name="Name" placeholder="Name"/>
    <input type="text"  id="PhoneNumber" name="PhoneNumber" placeholder="Phone number"/>
    <input type="text"  id="Address" name="Address" placeholder="Address"/>
    <input type="email"  id="Email" name="Email" placeholder="Email"/>
    <input type="email" id="UserEmail" name="UserEmail" placeholder="User email"/>
    <input type="submit"/>
</form>