@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@{
    // Get current user
    var applicationUser = await UserManager.GetUserAsync(User);
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Resturant Booking</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/Resturant_Booking.styles.css" asp-append-version="true"/>
</head>
<body>
<header>
    <header>
    		<a class="logo" asp-area="" asp-controller="Home" asp-action="Index"><i class="ri-home-heart-fill"></i><span>Restaurant Booking</span></a>
    
	    <ul class="navbar">
		    <li><a asp-area="" asp-controller="Home" asp-action="Index">Hjem</a></li>
		    <li><a href="#">Meny</a></li>
		    <li><a href="#">Om</a></li>
		    <li><a href="#">Kontakt</a></li>
		    <li><a asp-area="" asp-controller="Bedrifter" asp-action="Index">Bedrifter</a></li>
	    </ul>
	    <div class="main">
		    <a asp-area="Identity" asp-page="/Account/Register">Sign up</a>
		    <a asp-area="Identity" asp-page="/Account/Login">log in</a>
    			<a href="#">Book Table</a>
    			<div class="bx bx-menu" id="menu-icon"></div>
    		</div>
    	</header>


</header>
<div class="container">
    <main role="main" class="pb-3">
        @RenderBody()
    </main>
</div>

<footer class="border-top footer text-muted">
    <div class="container">
        &copy; 2022 - Resturant_Booking
    </div>
</footer>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
@await RenderSectionAsync("Scripts", required: false)
</body>
</html>