

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<link rel="stylesheet" href="~/css/bedrifter.css"/>
<div class="wrapper">
    <div class="inner">
        <form action="">
            <h3>Jobb med oss</h3>
            <label class="form-group">
                <input type="text" class="form-control"  required>
                <span>Navn</span>
                <span class="border"></span>
            </label>
            <label class="form-group">
                <input type="text" class="form-control"  required>
                <span>Epost</span>
                <span class="border"></span>
            </label>
            <label class="form-group">
                <input type="text" class="form-control"  required>
                <span>Telefon</span>
                <span class="border"></span>
            </label>

            <label class="form-group">
                <input type="text" class="form-control"  required>
                <span for="">Hvor mange bord</span>
                <span class="border"></span>
            </label>
            <label class="form-group" >
                <textarea name="" id="" class="form-control" required></textarea>
                <span for="">Melding</span>
                <span class="border"></span>
            </label>
            <button class="submit-edit">Submit 
                <i class="zmdi zmdi-arrow-right"></i>
            </button>
        </form>
    </div>
</div>