@model dynamic
@{
    ViewData["Title"] = "Restaurant Page";
}
<link rel="stylesheet" href="~/css/restaurant.css">


    

<br/><br/><br/><br/>

<h2>@Model.Restaurant.Name</h2>

<a class="nav-link" asp-area="" asp-controller="Restaurant" asp-action="Edit" style="color: white">Edit restaurant</a>

<h3>Reservations</h3>
@foreach (var reservation in Model.Reservations)
{
    if (reservation.Time.AddHours(1) > DateTime.Now)
    {
        // Example
        <div class="reservation" style="background-color: gray">
            Reserved for: @reservation.User?.Name,<br/>
            Seats: @reservation.Table.Seats<br/>
            Reservation time: @reservation.Time.ToString(" HH:mm dd.MM.yyyy")
        </div>
        <br/>
    }
}