@model IEnumerable<Restaurant>


@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

@foreach (var restaurant in Model)
{
    <p>@restaurant.Name</p>
    <p>@restaurant.Address</p>
    <p>@restaurant.Email</p>
    <p>@restaurant.PhoneNumber</p>
}