@model IEnumerable<Restaurant>
@{
    ViewData["Title"] = "Home Page";
}
<link rel="stylesheet" href="~/css/Home.css">

<div class="text-center">
   
</div>

    @foreach (var restaurant in Model)
    {
        // Example
       <div  class="card" style="width:400px">
           <div class="card-body">
           <h4 class="card-title">@restaurant.Name</h4>
             <p class="card-text"> @restaurant.Address</p>
             <p class="card-text">  @restaurant.PhoneNumber</p>
           <a asp-area="" asp-controller="Booking" asp-action="Index" asp-route-id="@restaurant.RestaurantId" class="btn btn-primary">Book</a>
         </div>
       </div>
    }