@model IEnumerable<Restaurant>
@{
    ViewData["Title"] = "Home Page";
}
<link rel="stylesheet" href="~/css/Home.css">

<div class="text-center">
   
</div>

    @foreach (var restaurant in Model)
    {
        // Example
      <div class="grid">
        <div class="grid-item">
          <img src="bilder/res1.jpg"/>
          <div class="card">
            <div class="card-content">
              <h1 class="card-header">@restaurant.Name</h1>
              <p class="card-text">
                <strong>Adress:@restaurant.Address </strong>
              </p>
              <p class="card-text">
                <strong>Email:@restaurant.Email </strong>
              </p>
              <p class="card-text">
                <strong>Phone:@restaurant.PhoneNumber </strong>
              </p>
              <a asp-area="" asp-controller="Booking" asp-action="Index" asp-route-id="@restaurant.RestaurantId" class="card-btn">Book</a>
            </div>
          </div>
        </div>
      </div>
    }